.login-form .input-group > * {
  border-radius: 0;
  border-bottom: none;
  font-style: normal;
  padding: 1.5rem;
}

.login-form .input-group.last > * {
  border-bottom: 1px solid #ced4da;
}

.login-form label {
  border-right: none;
  width: 7.5rem;
  background-color: #fff;
}

.login-form input {
  border-left: none;
}

.login-form button {
  font-style: normal;
  font-weight: 400;
  margin-top: 1.5rem;
  padding: 1.5rem;
  width: 100%;
}
